{% extends "layout.html" %}
{% block control_center %}
    
<main>
    <caption style="text-align: center; ">
    <form action="{{ url_for('control') }}" method="get">
        {% if user.switch_status[1:4] == '000' %}        
                <p>Room No-1: <button name="room_id" type="submit" value="1"><img  src="/static/web_pic/off-2.png" width="80" height="30"></button></p>         
        {% else %}
                <p>Room No-1: <button name="room_id" type="submit" value="0"><img  src="/static/web_pic/on-1.png" width="80" height="30"></button></p>         
        {% endif %}
    </form> 
    </caption>
        <table class="table">
            <caption>
                    
                <th>                   
                            {% if user.switch_status[2] == '1' %}               
                                    <form action="{{ url_for('control') }}" method="get">
                                        <button name="id" type="submit" value="20"><div class="content-section" > <p><img  src="/static/web_pic/bulb2-12.jpg" width="60" height="80"><br><p style="background-color: rgb(71, 155, 71); color: white;">Dream Light</p></div></button>
                                        </form>
                                {% else %}
                                    <form action="{{ url_for('control') }}" method="get">
                                        <button name="id" type="submit" value="21"><div class="content-section" > <p><img  src="/static/web_pic/bulb2-s.jpg" width="60" height="80"><br><p style="background-color: rgb(70, 70, 70); color: white;">Dream Light</p></div></button>
                                        </form>                                
                                {% endif %}                                              
                   
                </th>  
        </table> 
</main>
{% endblock control_center %}