body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.center {
  margin: auto;
  width: auto;
  text-align: center;
  padding: 10px;
}

.topnav{
  overflow: hidden;
  background-color: rgb(85, 85, 85);
  
}

.topnav a{
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: black;
  color: white;
}
.center {
  margin: auto;
  width: auto;
  border: none;
  padding: 10px;
}

.content-section-1 {
  background: #ffffff;
  padding: 10px 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  
  text-align: center;
}
.content-section-table {
  background: #ffffff;
  padding: 10px 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  
  text-align: center;
}
.content-section {
  background: #ffffff;
  padding: 5px 5px;
  border: none;
  margin-bottom: none;
  text-align: center;
}


.onoffswitch {
    position: relative; width: 81px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    text-align: left;
    padding-left: 11px;
    background-color: #34C234; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 11px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 31px; margin: -0.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 47px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}